/* Geodesic website font faces */

@font-face {
  font-family: "TiemposHeadline";
  src: url("/fonts/Tiempos-Headline-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TiemposText";
  src: url("/fonts/Tiempos-Text-Regular.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HaasGrotTextTrial-Regular";
  src: url("/fonts/HaasGrotTextTrial-Regular.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HaasGrotTextTrial-Medium";
  src: url("/fonts/HaasGrotTextTrial-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

